<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_cars?serverTimezone=UTC&amp;useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <property name="connection.username">user_hibernate</property>
        <property name="connection.password">hibernate01</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="classes.Car"/>
        <mapping class="classes.Mechanic"/>
        <mapping class="classes.CarShop"/>
        <mapping class="classes.Orders"/>

    </session-factory>
</hibernate-configuration>